# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Basic Renderer Attempt 1/copilot-chat/93a50e72/sessions
/.vs/Basic Renderer Attempt 1/CopilotIndices/0.2.1657.32929
/.vs/Basic Renderer Attempt 1/FileContentIndex
/.vs/Basic Renderer Attempt 1/v17
/Basic Renderer Attempt 1/Debug
/Basic Renderer Attempt 1/x64/Debug
/x64/Debug
/Debug
/Release
/Basic Renderer Attempt 1/Release/Basic Re.fde518f7.tlog
*.recipe
*.ipdb
*.iobj
*.log
*.pdb
